{% extends 'base_new.html' %}

{% block title %}Leaderboard{% endblock %}

{% block title_page %}Leaderboard{% endblock %}


{% block header %}
    <h3>Personal Score</h3>
    <div class="table-responsive" data-example-id="simple-table" style="overflow:scroll;">
            <table class="table">
{#              <caption>All methods are measured in <a href="https://traffic-signal-control.github.io/TSCC2019/evaluation.html"> Average Travel Time</a> (in seconds).</caption>#}
              <thead>
                <tr>
                  <th>#</th>
                  <th>User id</th>
                    {% for dataset,result in returned_info['dataset_result'].items() %}
                        <th> {{ dataset }}</th>
                    {% endfor %}
                  <th>Final Result</th>
                </tr>
              </thead>
              <tbody>

               <tr>
                  <th scope="row">Your Score</th>
                  <td> {{ returned_info['user_id'] }} </td>
{#                  <td>  {{ submission['dataset_result'] }} </td>#}
                     {% for dataset,result in returned_info['dataset_result'].items() %}
                        <td>{{ result }}</td>
                    {% endfor %}
                  <td> {{ returned_info['final_result'] }}</td>
                </tr>
              </tbody>
            </table>
      </div>
{% endblock %}

{% block content %}
    <h3>Leaderboard</h3>
    <div class="table-responsive" data-example-id="simple-table" style="overflow:scroll;">
            <table class="table">
{#              <caption>All methods are measured in <a href="https://traffic-signal-control.github.io/TSCC2019/evaluation.html"> Average Travel Time</a> (in seconds).</caption>#}
              <thead>
                <tr>
                  <th>#</th>
                  <th>Username</th>
                    {% for index,dataset in dataset_dict %}
                        <th> {{ dataset }}</th>
                    {% endfor %}
                  <th>Final Result</th>
                </tr>
              </thead>
              <tbody>

              {% for index,submission in submissions %}
                <tr>
                  <th scope="row">{{  index+1 }}</th>
                  <td> {{ submission['username'] }} </td>
{#                  <td>  {{ submission['dataset_result'] }} </td>#}
                     {% for dataset,result in submission['dataset_result'].items() %}
                        <td>{{ result }}</td>
                    {% endfor %}
                  <td> {{ submission['final_result'] }}</td>
                </tr>
                  {% if not loop.last %}
                      <hr>
                  {% endif %}
              {% endfor %}
              </tbody>
            </table>
      </div>

    {% if g.user %}
    <a class="action" href="{{ url_for('team_info.create') }}">New Submission</a>
  {% endif %}

{% endblock %}



