{% extends 'base_new.html' %}

{% block title %}Info & Submissions{% endblock %}

{% block title_page %}Info & Submissions{% endblock %}


{% block header %}
    <h3>Personal Info</h3>
    <li>user_id: {{ returned_info['username'] }}</li>
    <li>Password: {{ returned_info['password'] }}</li>
{% endblock %}

{% block content %}
    <h3>Submission History</h3>
    <div class="table-responsive" data-example-id="simple-table" style="overflow:scroll;">
            <table class="table">
{#              <caption>All methods are measured in <a href="https://traffic-signal-control.github.io/TSCC2019/evaluation.html"> Average Travel Time</a> (in seconds).</caption>#}
              <thead>
                <tr>
                  <th>#</th>
                  <th>Username</th>
                  <th>Submission time</th>
                  <th>Result</th>
                </tr>
              </thead>
              <tbody>

              {% for index,submission in submissions %}
                <tr>
                  <th scope="row">{{  index+1 }}</th>
                  <td> {{ submission['user_id'] }} </td>
                  <td>  {{ submission['created'].strftime('%Y-%m-%d %H:%M:%S') }} </td>
                  <td> {{ submission['result'] }}</td>
                </tr>
                  {% if not loop.last %}
                      <hr>
                  {% endif %}
              {% endfor %}
              </tbody>
            </table>
      </div>

    {% if g.user %}
    <a class="action" href="{{ url_for('team_info.create') }}">New Submission</a>
  {% endif %}

{% endblock %}



