{% extends 'base_new.html' %}

{% block title %}New Submission{% endblock %}

{% block title_page %}New Submission{% endblock %}

{% block header %}
  <h1>New Submission</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="dataset">dataset</label>
      <select name="dataset">
        <option value="volvo">Volvo</option>
        <option value="saab">Saab</option>
        <option value="fiat" selected="selected">Fiat</option>
        <option value="audi">Audi</option>
      </select>
    <label for="file">Submission (Paste it here)</label>
    <textarea name="file" id="file">{{ request.form['file'] }}</textarea>
    <input type="submit" value="Submit">
  </form>
{% endblock %}
