{% extends 'base_new.html' %}

{% block title %}New Submission{% endblock %}

{% block title_page %}New Submission{% endblock %}

{% block header %}
  <h1>New Submission</h1>
{% endblock %}

{% block content %}
  <form method="post" enctype=multipart/form-data>
    <label for="dataset">dataset </label>
      <select name="dataset">
        <option value="default" selected="selected">--</option>
        <option value="scenario_1">scenario_1</option>
        <option value="scenario_2">scenario_2</option>
        <option value="scenario_3">scenario_3</option>
        <option value="scenario_4">scenario_4</option>
        <option value="scenario_5">scenario_5</option>
      </select>
    {#  <label for="file">Submission (Paste it here)</label> #}
    {# <textarea name="file" id="file">{{ request.form['file'] }}</textarea> #}
      <input type="file" name="file">
    <input type="submit" value="Upload">
  </form>
{% endblock %}
