{% extends 'base_new.html' %}

{% block title %}Log In{% endblock %}

{% block title_page %}Log In{% endblock %}

{% block header %}
  <h1>Log in</h1>
{% endblock %}


{#  <form method="post">#}
{#    {{ form.hidden_tag() }}#}
{#    <label for="username">Username</label>#}
{#    <input name="username" id="username" required>#}
{#    <label for="password">Password</label>#}
{#    <input type="password" name="password" id="password" autocomplete="new-password" required>#}
{#    <input type="submit" value="Log In">#}
{#  </form>#}

{% block content %}
<form action="{{ url_for('auth.login') }}" method="post">
    {{ form.csrf_token }}
    <fieldset>
        <div style="font-size:20px; font-weight:bold; margin-left:150px;">

            {{ form.name.label }} {{ form.name }}
            <br>
            {{ form.password.label }} {{ form.password }}
            <br>
            {{ form.submit }}

        </div>

    </fieldset>
</form>

{% endblock %}